﻿
@{
    ViewBag.Title = "Index";
}


<div class="divContainer">
    <div class="Row">
        <div class="col-sm-6">
            <p><span class="glyphicon glyphicon-user"></span> <label id="lblCustomer"></label></p>
        </div>
        <div class="col-sm-6">
            <p><span class="glyphicon glyphicon-briefcase"></span> <label id="lblServices"></label></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tblCountries" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Name Country</th>
                        <th>Services by country</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript" src="~/Scripts/App/Summary/Summary.js"></script>
    <script type="text/javascript"> Events.Init();</script>

}

