﻿
@{
    ViewBag.Title = "Index";
}

<button type="button" class="btn btn-primary" style="margin:20px;" onclick="Events.New()">New</button>

<table id="tblCountries" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        Name:
                        <input placeholder="Name" type="text" id="Name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary" onclick="Events.Saved()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                are you sure to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDelete" class="btn btn-danger" onclick="Events.Delete()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript" src="~/Scripts/App/Countries/Countries.js"></script>
    <script type="text/javascript"> Events.Init();</script>

}

