﻿
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin:20px auto; ">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary"  onclick="Events.New()">New</button>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-danger" onclick="Events.ActionDeleteAll()">Delete all</button>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <th>
                    Server Storage
                </th>
                <td>
                    <label class="switch">
                        <input id="Storage" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </td>
                <th>
                    Local Storage
                </th>
            </tr>
        </table>
    </div>
</div>

<table id="tblCustomers" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>NIT</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Services</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        NIT:
                        <input placeholder="NIT" type="text" id="NIT" class="form-control" />
                    </div>
                    
                    <div class="col-sm-12">
                        Name:
                        <input placeholder="Name" type="text" id="Name" class="form-control" />
                    </div>
                    
                    <div class="col-sm-12">
                        Email:
                        <input placeholder="Email" type="email" id="Email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary" onclick="Events.Saved()" >Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="modal fade" id="modalServices" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Services</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        Name service:
                        <input id="NameService" type="text" placeholder="Name service" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        Price per hour:
                        <input id="PriceService" type="number" placeholder="Price per hour" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        countries:
                        <select id="Countries" class="selectpicker trn form-control input-margin" multiple data-selected-text-format="count" data-size="6" data-live-search="true" data-toggle="MyTooltip" data-trn-key-title="Required" title="" data-trigger="manual">
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12">
                        <center>
                            <button type="button" id="btnSavedService" class="btn btn-primary" onclick="Events.SavedService()">Guardar</button>
                        </center>
                    </div>
                </div>
                
                <table id="tblServices" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price hour</th>
                            <th>Country</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                are you sure to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDelete" class="btn btn-danger" onclick="Events.Delete()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script type="text/javascript" src="~/Scripts/App/Customers/Customers.js"></script>
    <script type="text/javascript"> Events.Init();</script>

    }